page-principal {

    .bg{
        background-image: url('../assets/images/bg-principal6.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .logo{
        display: block;
        margin: auto;
        width: 120px;
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
    .secondPage{
        margin-top: 60vh;
        background-color: #ebebeb;
        padding-bottom: 15px;
        border-radius: 4px;
    }
    .sousTitre{
        padding: 10px;
    }
    .categories{
        max-width: 400px;
        margin-left: auto;
        margin-right:auto;
    }
    .cat{
        max-width: 185px;
        margin: 2px;
        margin-bottom: 0px;
        margin-top:10px;
        display: inline-block;
        
    }
    .catImg{
        border-radius: 5px;
        max-width: 170px;
        min-width: 170px;
        max-height: 140px;
        min-height: 140px;
    }
    .catTitre{
        color:#7e4f74;
        padding-left:5px;
    }
    .accesTexte{
        font-size: 12px;
        color:hsl(313, 7%, 47%);
        padding:5px;
        padding-top:1px;
    }
}
