page-principal {
    .scroll .scroll-content{
        overflow: hidden;
    }
    .bg{
        background-image: url('../assets/images/bg-principal6.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .logo{
        display: block;
        margin: auto;
        width: 120px;
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
}
